:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
  margin: 0;
}

.align-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: min-content;
  padding: 1rem;
}

.avatar {
  border: 3px solid currentColor;
  border-radius: 50%;
  height: 10rem;
  overflow: hidden;
}

.description {
  display: grid;
  grid-gap: .75rem;
  max-width: 600px;
}

.description > p {
  margin: 0;
}

.h-100 {
  height: 100%;
}

.octicon {
  fill: currentColor;
  margin-right: .5rem;
  margin-top: 3px;
  vertical-align: text-bottom;
}

.text-center {
  text-align: center;
}

.title {
  margin: 1rem 0;
  max-width: 600px;
}

@supports not (color-scheme: light dark) {
  @media (prefers-color-scheme: dark) {
    html {
      background: hsl(0, 0%, 12%);
      color: white;
    }
  }
}